.ben{
    text-align: center;
    color: blue;
}

.hello{
    text-align: center;
}
*{
    margin: 0;
    padding: 18px;
    box-sizing: border-box;
}
body{
    background-image: url("images/man-1459246__480.webp");
}
.profile-img{
    width: 40%;
    float: right;}

    .akaka{
        text-align: center;
        color: black;
    }
.about{
    margin-left: 15px;
}
.profile-info{
    width: 60%;
    height: 100vh;
    float: left;
    padding: 0 30px;
}
.home{
    display: list-item;
    text-align: center;
    color: blue;
}
.home nav ul li {
    color:red;
    background-color: khaki;

}
footer{
    background-color: ivory;
    padding-left: 50px;
    padding-right: 40px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 300px;
    color:red;
}
body{
    color: blue;
}