.ben{
    text-align: center;
    color: blue;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 50px;
}
body{
    background-image: url("images/man-1459246__480.webp");
    padding: 18px;
}
.profile-img{
    width: 40%;
    float: right;}

    .akaka{
        text-align: center;
        color: blue;
    }
.about{
    margin-left: 15px;
}
.profile-info{
    width: 60%;
    height: 100vh;
    float: left;
    padding: 0 30px;
}
/* .home{
    display: list-item;
    text-align: center;
    color: blue;
} */
/* .home nav ul li {
    color:red;
    background-color: khaki;

} */
/* footer{
    background-color: ivory;
    padding-left: 50px;
    padding-right: 40px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 300px;
    color:red;
} */
body{
    color: blue;
}

.background{
    display: inline-block;
    width: 30%;
    margin: 2%;
    text-align: center;
    box-shadow: 0 0 15px 1px rgba(37, 73, 214, 0.1);
    background:beige;
    color: black;
    display: inline-block;
    width: 100%;
    padding: 5px;
    height: 150%;
    margin-right: 2%;

}
.home{
    display: flex;
    background-color:brown;
    width: 100%;
    
  
}
.home nav ul li {
    display: inline-block;
    list-style: none;
    text-decoration: none;
    padding: 30px;
    color: wheat !important;
    text-decoration: none !important;
   
}

.home nav ul {
    padding-left: 500px;
}