*{
    margin: 0;

    box-sizing: border-box;
}

.profile-img{
    border-radius: 50%;
    text-align: center;
    padding-top: 70px;
    }
.about{
    margin-left: 30px;
    letter-spacing: 2px;
}
.intro{
    text-align: center;
    font-size: 40px;
    background-color: burlywood;
}
#name{
    color:blue;
}
.home{
    display: flex;
    background-color: black;
    width: 100%;
    
    /* text-align: center; */
}
.home nav ul li {
    display: inline-block;
    list-style: none;
    text-decoration: none;
    padding: 30px;
    color: wheat !important;
    text-decoration: none !important;
    
    /* color:red;
    background-color: khaki; */
}

.home nav ul {
    padding-left: 500px;
}

footer li{
    list-style: none;
    display: inline-block;
    padding-right: 30px;
}
 .experts{
     display: flex;
 }
.expert{
    display: inline-block;
    width: 30%;
    padding: 20px 20px;
    margin: 2%;
    text-align: center;
    box-shadow: 0 0 15px 1px rgba(37, 73, 214, 0.1);
    background: greenyellow;
    color: blue;
    display: inline-block;
}

.expert img{
    width: 100%;
    padding: 5px;
    
    margin-right: 2%;

}

.expert small{
    padding-top: 10px;
    display: block;
}





@media only screen and (max-width:990){
    .profile-info{
        width: 100%;
        overflow: inherit;
    }
    .profile-img{
        width: 100%;
    }
    }  